@model WebData.Models.ViewModel.SignUpUserViewModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="container sub">
    <div class=" row">
        <div class=" col-6 offset-3 rounded pl-5 pr-5 pb-5 mt-2">
            <div class="text-center">
                <h1 class="text-info text-warning">User Registration Form</h1>
            </div>
            <h3 class="text-danger">@TempData["errorMessage"]</h3>
            <form method="post" asp-action="SignUp">
                <div class="form-group fs-3 text-primary fw-bold">
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" class="form-control" autocomplete="off"  placeholder="enter the username" />
                </div>
               
                <div class="form-group fs-3 text-primary fw-bold">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" class="form-control" autocomplete="off" placeholder="enter the email" />
                   
                </div>
                <div class="form-group fs-3 text-primary fw-bold">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                    <label asp-for="Mobile"></label>
                    <input type="text" asp-for="Mobile" class="form-control" autocomplete="off" placeholder="enter the number"  />
                    
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group fs-3 text-primary fw-bold">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" class="form-control" autocomplete="off" placeholder="enter the Password"  />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    

                    <div class="col-6">

                    
                        <div class="form-group fs-3 text-primary fw-bold">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="off"  placeholder="enter the confirm password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
             
                <div class="form-group fs-3 text-primary fw-bold">
                    <label asp-for="IsActive"></label>
                    <input type="checkbox" asp-for="IsActive" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group text-center">
                    <input type="submit" class=" btn btn-success btn-lg float-right" value="Registration" />

                    <input type="reset" class=" btn  btn-lg  btn-danger " value="Cancle" />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>