@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center for ">
 




    <h1 class="display-4 text-danger fw-bold">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></p>
    <br/>
    <br />
    <br />
    <br />
  
   
 <div   class="nav-item ">
        <a class="nav-link  fw-bold" asp-area="" asp-controller="student" asp-action="Index"><h2 class="text-primary fw-bold ">User Login!!</h2></a>
        <a class="nav-link  fw-bold" asp-area="" asp-controller="Account" asp-action="SignUp"> <h2 class="text-primary fw-bold">Create a new Accouct</h2></a>



    </div>
</div>

<div class="text-center fr ">
 <h3 class="fw-bold text-danger">About us:</h3> 
 <p class=" text-dark fw-bold">
        ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-enabled, Internet-connected apps. With ASP.NET Core, you can: Build web apps and services, Internet of Things (IoT) apps, and mobile backends. Use your favorite development tools on Windows, macOS, and Linux
    </p>
</div>